
.round_characteristic {
    $border-color:#880e4f;
    $buttons-border-color: white;

    position: relative;
    height: 6em;
    width: 6em;
    img{
        background: black;        
        border-color:$border-color;
        height: 100%;        
        border-width: 6px;
        border-style: solid;

        &.main {
            border-radius: 165px;  
        }

        &.plus {
            border-radius: 165px;
            width: 3em;
            height: 3em;
            border: solid 3px white;
            position: absolute;
            right: -25px;
            top: 1.5em;            
            padding: 5px;
        }

        &.minus {
            border-radius: 165px;
            width: 3em;
            height: 3em;
            border: solid 3px white;
            position: absolute;
            left: -25px;
            top: 1.5em;            
            padding: 5px;
        }        
    }    
}

.characteristic_choice input {
    display:none;
}

.characteristic_choice {        
    $size : 5em;    
    $text-color: #fff;
    $border-color:#880e4f;
    $border-size:10px;
    $background-color:#00838f;

    position:relative;    
    min-height:$size;
    line-height:$size;                    
    color: $text-color;    
    letter-spacing: .5px;    
    cursor: pointer;  
    margin: 0;
    text-align: left;
    padding:0 !important;
    margin: 2px 0;
    background-color:$background-color; 
    
    transition: .1s ease-out !important;
    transition: all .2s ease-out !important;

    .border-color {
        float:left;
        min-height:$size * 2;
        height:100%;
        width:$border-size;
        background-color: $border-color !important;
        z-index: 100;
    }

    .bag-o-text {
        float:left;
        min-height: $size;
        margin:0;        
        line-height: $size;        
        letter-spacing: .5px;  
        padding: 6px 0px 0px 5px;
        width: 70%;

        p {
            margin: 0;            
            line-height: 1em;

            &.title {
                padding:3px 0;
                text-transform: uppercase;
            }

            &.help {
                color: darken($text-color, 15);
                font-size:.9em;
                padding-top:2px;
            }
        }
    }

    .range {
        margin: 10px 0;
        width:100%;        
    }

    .left-option-zone {      
        height: 100%;
        float: left;
    }

    .buffer-option-zone {
        height: $size;
        line-height: $size;
        width: $border-size;        
        float: right;
    }

    em {
        width: 82%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $border-color;
        height: 3em;
        line-height: 3em;
        z-index: 2;        
        text-align: center;
        font-style: normal;
        text-transform: uppercase;
    }

    img {         
            z-index: 100;
            float: right;
            height: 5em;
            position: relative;

        &.action-icon {
            position: absolute;
            padding: 2px;
            width: 3em;
            height: 3em;
            background: #ffffff;
            border: solid 3px black;
                        
            transition: all .1s ease-out !important;

            &:hover{
                transform: scale(1.2);
            }

            &.plus {
                bottom:0;
                right: 5em;
            }

            &.minus {
                bottom: 0;
                left:$border-size;
            }
        }
    }  

    &:hover, &.active {      

        // background-color: lighten($background-color, 10) !important;

        // -webkit-transition: background-color 500ms linear;
        // -ms-transition: background-color 500ms linear;
        // transition: background-color 500ms linear;
        
        // .border-color {            
        //     background-color: lighten($border-color, 15) !important;

        //     -webkit-transition: background-color 500ms linear;
        //     -ms-transition: background-color 500ms linear;
        //     transition: background-color 500ms linear;
        // }
    }

}