<template name="characteristic">

    <article id="id_{{ name }}" class="{{ name }} characteristic_choice col s12">
        <div class="left-wrapper">
            <div class="left-block">
                <p class="title"> # {{ label }}</p>
                <p class="help flow-text"> {{help }}</p>

                <div class="action-wrapper col s12">
                    <img class="plus action-icon" src="/img/battery-plus-ghost.svg" />
                    <em class="level-label">Inapte</em>
                    <img class="minus action-icon" src="/img/battery-minus-ghost.svg" />
                </div>
            </div>
        </div>

        <div class="right-wrapper">
            <aside class="right-block">
                <img class="battery-level battery-0 " src="/img/battery-0.svg" />
                <img class="battery-level battery-25" src="/img/battery-25.svg" />
                <img class="battery-level battery-50" src="/img/battery-50.svg" />
                <img class="battery-level battery-75" src="/img/battery-75.svg" />
                <img class="battery-level battery-100" src="/img/battery-100.svg" />
                <img class="battery-level energise" src="/img/energise.svg" />                
                <img src=" {{image }} " />
            </aside>
        </div>

        <input type="text" name="characteristics[{{ name }}]" value="{{ value }}" />
    </article>

</template>