<template name="game_form">   

    <div class="row">
        <form class="col s12 game_editor" name="game_editor">

            <input type='hidden' name="id" value="{{ game._id }}" />

            <div class="row">

                <h4><span>#1</span> Nom</h4>

                <div class="input-field col s12 m6">
                    <input id="title" name="title"  type="text" class="validate" value="{{game.title}}" required>                                        
                    <label for="title">Nom de la partie *</label>
                </div>   
            </div>            

            <div class="row">

                <h4><span>#2</span> Époque</h4>

                <div class="col s12 m6">
                    {{> game_form_option name="times" value="contemporary" gameValue=game.times label="Contemporaine" help="Aujourd'hui, avec le niveau technologique que l'on connait." image="/img/clockwork.svg"}} 
                </div>
                <div class="col s12 m6">
                    {{> game_form_option name="times" value="anticipated" gameValue=game.times label="Anticipée" help="Aujoud'hui, mais les objets connectés sont partout, et tout est piratable." image="/img/circuitry.svg"}} 
                </div>
                <div class="col s12 m6">
                    {{> game_form_option name="times" value="futuristic" gameValue=game.times label="Futuriste" help="La société est devenue une dystopie/utopie lointaine. Les rues sont un théâtre de coureurs d'ombres." image="/img/techno-heart.svg"}} 
                </div>
            </div>

            
            <div class="row">
                <h4><span>#3</span> Degr&eacute; de fantastique</h4>

                <div class="col s12 m6">
                    {{> game_form_option name="fantasy_level" value="realist" gameValue=game.fantasyLevel label="Réaliste" help="Le monde répond exactement aux mêmes lois que celles qu'on imagine connaître aujourd'hui." image="/img/pipes.svg"}} 
                </div>
                <div class="col s12 m6">
                    {{> game_form_option name="fantasy_level" value="occult" gameValue=game.fantasyLevel label="Occulte" help="La réalité est la même que la nôtre. A moins que... Et toutes ces rumeurs au sujet de ce qui rode le soir ?" image="/img/fangs.svg"}} 
                </div>
                <div class="col s12 m6">
                    {{> game_form_option name="fantasy_level" value="fantastic" gameValue=game.fantasyLevel label="Fantastique" help="La magie est courante, d'autres races partagent même peut-être le quotidien des humains." image="/img/fireflake.svg"}} 
                </div>
            </div>
            
            
            <div class="row">
                <div class="input-field col s12 m6">

                    <i class="material-icons prefix">settings</i>
                    <div class="row choices_list">
                        <p class="col s6">
                            <input name="social_contract" type="radio" id="nobody_gets_hurt" value="nobody_gets_hurt" {{ isChecked 'nobody_gets_hurt' game.socialContract}}  />
                                   <label for="nobody_gets_hurt">Personne ne sera bless&eacute;</label>
                        </p>
                        <p class="col s6">
                            <input name="social_contract" type="radio" id="wont_abandon_you" value="wont_abandon_you" {{ isChecked 'wont_abandon_you' game.socialContract}} />
                                   <label for="wont_abandon_you">Je ne vous abandonnerai pas</label>
                        </p>
                    </div>                    
                    <label>Contrat social</label>                                            
                </div>
                <div class="col s12 m6">
                    <div class="card">                        
                        <div class="card-content grey lighten-2 explications">
                            <p>Votre contrat social ; les limites données à la partie.<br/><a href="http://www.limbicsystemsjdr.com/un-contrat-social-sain/" title="Contrat social" target="_blank">Explication détaillée de <b>Frédéric Sintes</b></a></p>
                            <dl>
                                <dt><dfn>Personne ne sera bless&eacute;</dfn></dt>
                                <dd>Pas de thèmes choquants, sensibles ou difficiles : on évite le malaise ! </dd>
                            </dl>
                            <dl>
                                <dt><dfn>Je ne vous abandonnerai pas</dfn></dt>
                                <dd>Des thèmes sensibles peuvent être abordés, des moments difficiles mis en scènes, sans ignorer les sensibilités individuelles pour autant.</dd>
                            </dl>                         
                        </div>
                    </div>
                </div>                    
            </div>    

            <div class="row">
                <div class="input-field col s12 m6">                    
                    <i class="material-icons prefix">info_outline</i>                    
                    <textarea id="textarea1" name="description" class="materialize-textarea">{{game.description}}</textarea>                                        
                    <label for="textarea1">D&eacute;tails</label>
                </div>
                <div class="col s12 m6">
                    <div class="card">                        
                        <div class="card-content grey lighten-2 explications">
                            <p>Détaillez la partie que vous proposez. Pitch de scénario, éléments d'univers, gimmick du décors, soyez fulgurants et intenses comme une attaque DDoS.</p>
                        </div>
                    </div>
                </div>                    
            </div>

            <div class="row center-align">
                <button class="btn waves-effect waves-light record_game" type="submit">Enregistrer
                    <i class="material-icons right">send</i>
                </button>                
            </div>

        </form>
    </div>
    
</template>