

.hidden-help {
    display:none;
}

.btn-label {
    height:3em;
    line-height:3em;
}

h4{
    font-weight: bold;
    font-variant: small-caps;
    
    span {
        font-size:1.9rem!important;
    }
}

@mixin radio-color($border-color, $background-color: $border-color, $border-color-checked: $border-color) {
    [type="radio"].with-gap {
        &+label:before,
            &+label:after {
            border: 2px solid $border-color !important;
        }
        &:checked+label:before,
            &:checked+label:after {
            border: 2px solid $border-color-checked !important;
        }
        &:checked+label:after {
            background-color: $background-color !important;
        }
    }
}


@include radio-color(#000,#000,#000); 
