.parent_and_group {
    border: solid 1px #434242;
    box-shadow: 1px 1px 1px #434242;
    padding: 5px !important;
    margin: 5px;
}

.btnParents {
    border: solid 1px green;
    box-shadow: 1px 1px 1px #444444;
    background-color: #efefef;
    width: 25px;
    display: inline-flex;
    height: 100%;
    cursor: pointer;
}