<template name="character">

    <section class="character-element row card white" data-id="{{_id}}">
        <aside class="avatar col s4">
            {{#if avatar }}
            <img src="{{avatar}}" alt=""> {{else}}
            <img src="/img/base_avatar.png" alt=""> {{/if}}
        </aside>

        <article class="col s8">
            <h3 class="title">{{name}}</h3> {{#if ethos }} {{#each ethos}}
            <p class="ethos_value">{{value}}</p>
            {{/each}} {{/if }}
        </article>
    </section>

</template>