<template name="character_form">
    <div class="row">
        <form class="col s12 character_editor" name="character_editor">

            <input type='hidden' name="id" value="{{ character._id }}" />

            <h2>Hacking</h2>

            <div class="col s6">
                {{> characteristic name="informatic" label="Informatique" help="Capacité à exploiter les machines dans leurs retranchements"
                image="/img/clockwork.svg"}}
            </div>


      
        </form>
    </div>

    <div class="col s12 center-align">
        <button class="btn waves-effect waves-light record_character" type="submit">Enregistrer
            <i class="material-icons right">send</i>
        </button>
    </div>
</template>