    <template name="character_form">
    <div class="row">
        <form class="col s12 character_editor" name="character_editor">

            <input type='hidden' name="id" value="{{ character._id }}" />            

            <h2 class="personnafied-h2">#1 Nom</h2>
            <div class="input-field col s12">
                <input id="title" name="title"  type="text" class="validate" value="{{character.name}}" required>                                        
                <label for="title">Nom du personnage *</label>
            </div>   

            <h2 class="personnafied-h2">#2 Signes particuliers</h2>
            <div class="row">
                <p class="col m4 s6">
                    <input name="signs['cosplayer']" type="checkbox" id="cosplayer"  />
                    <label for="cosplayer">Cosplayer</label>
                </p>
                <p class="col m4 s6">
                    <input name="signs['otaku']" type="checkbox" id="otaku"  />
                    <label for="otaku">Otaku</label>
                </p>
                <p class="col m4 s6">
                    <input name="signs['gifted']" type="checkbox" id="gifted" />
                    <label for="gifted">Surdoué</label>
                </p>
                <p class="col m4 s6">
                    <input name="signs['marvel_fan']" type="checkbox" id="marvel_fan"  />
                    <label for="marvel_fan">Fan de Marvel</label>
                </p>
                <p class="col m4 s6">
                    <input name="signs['dc_fan']" type="checkbox" id="dc_fan"  />
                    <label for="dc_fan">Fan de DC</label>
                </p>
                <p class="col m4 s6">
                    <input name="signs['progamer']" type="checkbox" id="progamer"  />
                    <label for="progamer">Pro-gamer</label>
                </p>
                <p class="col m4 s6">
                    <input name="signs['drugaddict']" type="checkbox" id="drugaddict"  />
                    <label for="drugaddict">Drogué</label>
                </p>
                <p class="col m4 s6">
                    <input name="signs['cultist']" type="checkbox" id="cultist"  />
                    <label for="cultist">Cultiste</label>
                </p>
                <p class="col m4 s6">
                    <input name="signs['spicy']" type="checkbox" id="spicy"  />
                    <label for="spicy">Mange épicé</label>
                </p>
                <p class="col m4 s6">
                    <input name="signs['oneeyed']" type="checkbox" id="oneeyed"  />
                    <label for="oneeyed">Borgne</label>
                </p>
                <p class="col m4 s6">
                    <input name="signs['armless']" type="checkbox" id="armless"  />
                    <label for="armless">Manchot</label>
                </p>
                <p class="col m4 s6">
                    <input name="signs['onelegged']" type="checkbox" id="onelegged"  />
                    <label for="onelegged">Unijambiste</label>
                </p>
                <p class="col m4 s6">
                    <input name="signs['paraplegic']" type="checkbox" id="paraplegic"  />
                    <label for="paraplegic">Paraplégique</label>
                </p>
                <p class="col m4 s6">
                    <input name="signs['albinos']" type="checkbox" id="albinos"  />
                    <label for="albinos">Albinos</label>
                </p>
                <p class="col m4 s6">
                    <input name="signs['badtastemusic']" type="checkbox" id="badtastemusic"  />
                    <label for="badtastemusic">Mauvais goûts musicaux</label>
                </p>
                <p class="col m4 s6">
                    <input name="signs['goodperfume']" type="checkbox" id="goodperfume"  />
                    <label for="goodperfume">Sent bon</label>
                </p>
                <p class="col m4 s6">
                    <input name="signs['ddrmaster']" type="checkbox" id="ddrmaster"  />
                    <label for="ddrmaster">Maîtrise DDR</label>
                </p>
                <p class="col m4 s6">
                    <input name="signs['blindtestwarior']" type="checkbox" id="blindtestwarior"  />
                    <label for="blindtestwarior">Roi du blind-test</label>
                </p>
            </div>

            <h2 class="personnafied-h2">#3 White or Black Hat ?</h2>

            <h2 class="personnafied-h2">#4 Caractéristiques</h2>
            <!-- Swiper -->
            <div class="swiper-container">
                <!-- Add Pagination -->
                <!--<div class="swiper-pagination"></div>-->
                <!-- Add Arrows -->                
                <a class="swiper-button-next btn-floating btn-large waves-effect waves-light red"><i class="material-icons">skip_next</i></a>
                <a class="swiper-button-prev btn-floating btn-large waves-effect waves-light red"><i class="material-icons">skip_previous</i></a>
                <!--<div class="swiper-button-prev btn-floating"></div>                     -->
                <div class="swiper-wrapper">               
                    <div class="swiper-slide">  
                        <h4>>Hacking</h4>                      
                        <div class="col m6 s12">
                            {{> characteristic name="informatic" label="Informatique" help="Capacité à exploiter les machines dans leurs retranchements." image="/img/computing.svg"}}
                        </div>

                        <div class="col m6 s12">
                            {{> characteristic name="mechatronic" label="Mécatronique" help="Savoir-faire en mécanique et électronique. La robotique moins l\'informatique, en somme." image="/img/processor.svg"}}
                        </div>

                        <div class="col m6 s12">
                            {{> characteristic name="administratif" label="Administratif" help="Savoir exploiter une loi, refuter des charges, identifier la tête pensante d'une holding, falsifier des fiches de payes... Avec le sourire." image="/img/book-pile.svg"}}
                        </div>

                        <div class="col m6 s12">
                            {{> characteristic name="diy" label="Bricolage" help="Comme Mc Giver ? Comme Mc Giver." image="/img/screwdriver.svg"}}
                        </div>

                        <div class="col m6 s12">
                            {{> characteristic name="biohack" label="Biohack" help="Physique, chimie, bio. Et donc poisons, explosifs, adhesifs. Pour commencer." image="/img/molecule.svg"}}
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <h4>>Créativité</h4>
                        <div class="col m6 s12">
                            {{> characteristic name="illustration" label="Illustration" help="Dessiner, peindre, réaliser des images en deux dimensions." image="/img/palette.svg"}}
                        </div>

                        <div class="col m6 s12">
                            {{> characteristic name="audio" label="Audio" help="Musicien, dj ou ingénieur du son, savoir faire danser les ondes." image="/img/music-spell.svg"}}
                        </div>

                        <div class="col m6 s12">
                            {{> characteristic name="vidéo" label="Vidéo" help="Savoir créer, diffuser et éditer des vidéos, effets spéciaux compris." image="/img/video-camera.svg"}}
                        </div>

                        <div class="col m6 s12">
                            {{> characteristic name="3darts" label="3D" help="L'art de modeliser, texturer et animer des images en 3 dimensions." image="/img/cube.svg"}}
                        </div>                        
                    </div>
                    <div class="swiper-slide">
                        <h4>>Physique</h4>
                        <div class="col m6 s12">
                            {{> characteristic name="observation" label="Repérage" help="Avoir le sens de l'observation et du détail." image="/img/sherlock-holmes.svg"}}
                        </div>

                        <div class="col m6 s12">
                            {{> characteristic name="furtivity" label="Furtivité" help="Parfois, il vaut mieux passer inaperçu. Souvent en fait." image="/img/cloak-dagger.svg"}}
                        </div>

                        <div class="col m6 s12">
                            {{> characteristic name="resistance" label="Résistance" help="Endurer ; qui endure construit sa force." image="/img/fire-silhouette.svg"}}
                        </div>

                        <div class="col m6 s12">
                            {{> characteristic name="martial-arts" label="Arts Martiaux" help="Le délicat art ancestral de réduire vos adversaires en bouillie. Avec élégance." image="/img/ninja-heroic-stance.svg"}}
                        </div>

                        <div class="col m6 s12">
                            {{> characteristic name="parkour" label="Parkour" help="Mélange d'athlétisme, d'acrobatie et de gymnastique avec ce petit côté urbain chic." image="/img/acrobatic.svg"}}
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <h4>>Savoirs</h4>
                        <div class="col m6 s12">
                            {{> characteristic name="letters" label="Lettres" help="Les Lettres sont belles a qui sait les cultiver. " image="/img/spell-book.svg"}}
                        </div>

                        <div class="col m6 s12">
                            {{> characteristic name="economy" label="Économie" help="Science des actions, des fusion, des démons." image="/img/gold-stack.svg"}}
                        </div>

                        <div class="col m6 s12">
                            {{> characteristic name="astronomy" label="Astronomie" help="De tout temps les hommes... (bla bla bla) ...les étoiles. Leur poésie subtile en fait d'éternelles amies." image="/img/dust-cloud.svg"}}
                        </div>

                        <div class="col m6 s12">
                            {{> characteristic name="sociology" label="Sociologie" help="La science des foules, les secrets de l'Homme, l'amour des statistiques." image="/img/minions.svg"}}
                        </div>

                        <div class="col m6 s12">
                            {{> characteristic name="taming" label="Dressage" help="Faut il faire le mort ou se tenir sur un pied face à un ours ? Cette compétence vous permet de le savoir." image="/img/griffin-symbol.svg"}}
                        </div>

                        <div class="col m6 s12">
                            {{> characteristic name="histogeo" label="Histoire Géo" help="Je vois. Vous êtes un homme de culture vous aussi." image="/img/atlas.svg"}}
                        </div>

                        <div class="col m6 s12">
                            {{> characteristic name="healing" label="Médecine" help="Etre capable d'exercer un diagnostic différentiel pour démasquer une sarcoïdose galopante ou un lupus. Ou retirer une balle." image="/img/love-injection.svg"}}
                        </div> 

                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col s12 center-align">
        <button class="btn waves-effect waves-light record_character" type="submit">Enregistrer
            <i class="material-icons right">send</i>
        </button>
    </div>
</template>