
h3 {
    font-size: 14px;
}

.avatar {
    img {
        display: block;
        width: 100%;
    }
}

.game-element {
    cursor: pointer;    
    transition: .1s ease-out !important;

    &:hover{
        transform: scale(1.05);
    }
}
