.game-element {
    h3 {
        font-size: 14px;
    }
    .avatar {
        img {
            max-width: 100px;
        }
    }
    cursor: pointer;
    transition: .1s ease-out !important;
    &:hover {
        transform: scale(1.05);
    }
}