<template name="App_body">
    <section class="container">               
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo personnafied right">1337</a>
                <ul id="nav-mobile" class="left">
                    <li>{{> loginButtons}}</li>
                    <li><a href="/">Accueil</a></li>                    
                </ul>
            </div>
        </nav>        
        {{> Template.dynamic template=main}}
        
        <header >
            {{ > notification }} 
        </header>
    </section>
</template>