<template name="notification">

    <ul class="col s12 notifications collapsible" data-collapsible="accordion">

        {{#each notifications_basic}}
        <li>
            <div class="collapsible-header">

                <!-- TODO : Make a switch depending on notif type -->
                <i class="material-icons">announcement</i>

                <div class="chip">
                    {{ formatDate createdAt }}
                </div>
                {{ title }}
            </div>
            <div class="collapsible-body">
                <p class="col s11">{{text}} </p>
                <i class="close material-icons remove-notification" data-id="{{_id}}">close</i>
            </div>
        </li>
        {{/each}} {{#each notifications_invites}}
        {{#let notification_id = _id}} 
        {{#let datas = datas}} 
        <li>
            <div class="collapsible-header">

                <!-- TODO : Make a switch depending on notif type -->
                <i class="material-icons">local_post_office</i>

                <div class="chip">
                    {{ formatDate createdAt }}
                </div>
                {{ title }}
            </div>
            <div class="collapsible-body">
                <p class="col s11">{{text}} </p>
                <p class="col s11">Choisissez le personnage à plonger dans le bain :</p>
                <div class="row">
                    {{#each characters}}
                    <div class="col s4 character_tag" data-id="{{notification_id}}" data-gameid="{{datas.gameId}}" data-characterid={{_id}}>
                        <aside>
                            <img src="{{avatar}}" alt="{{name}}" />
                        </aside>
                        <p>{{name}}</p>
                    </div>
                    {{/each}}
                </div>
                <i class="close material-icons remove-notification" data-id="{{_id}}">close</i>
            </div>
        </li>
        {{/let}} 
        {{/let}} 
        {{/each}}
    </ul>
</template>