
.disabled {
    opacity: .2;
}

.round_skill {
    $border-color:#880e4f;
    $buttons-border-color: white;

    position: relative;
    height: 6em;
    width: 6em;
    img{
        background: black;        
        border-color:$border-color;
        height: 100%;        
        border-width: 6px;
        border-style: solid;

        &.main {
            border-radius: 165px;  
        }

        &.plus {
            border-radius: 165px;
            width: 3em;
            height: 3em;
            border: solid 3px white;
            position: absolute;
            right: -25px;
            top: 1.5em;            
            padding: 5px;
        }

        &.minus {
            border-radius: 165px;
            width: 3em;
            height: 3em;
            border: solid 3px white;
            position: absolute;
            left: -25px;
            top: 1.5em;            
            padding: 5px;
        }        
    }    
}

.skill_choice input  {
    display:none;
}

.skill_choice {        
    $size : 5em;    
    $text-color: #fff;
    $border-color:#ea49ea;
    $sub-backcolor:darken($border-color, 30);
    $border-size:8px;
    $background-color:black;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    color: $text-color;    
    letter-spacing: .5px;        
    text-align: left;
    padding:0 !important;
    margin: 10px 0;
    background-color:$background-color; 

    transition: .1s ease-out !important;
    transition: all .2s ease-out !important;

    .battery-level {
        display: none;
    }

    .battery-visible {
        display: block;
    }

    .left-wrapper {
        margin: 0;
        padding: 0;    
        flex-grow:1;  
    }

    .left-block {    
        border-left: solid 10px $border-color;
        height: 10em;
        line-height: $size;        
        letter-spacing: .5px;
        position: relative;

        p {
            margin: 0;        
            padding: 10px;    
            line-height: 1em;

            &.title {                
                font-variant: small-caps;
                font-size: 1.5em;                
            }

            &.help {
                color: darken($text-color, 15);
                font-size:.9em;
                padding-top:2px;
            }
        }          
    }

    .right-wrapper {
        margin: 0;
        padding: 0;
    }

    .right-block {        
        width: $size;
        height: $size*2;
    }

    .action-wrapper {
        padding:0;
        margin: 0;        
    }   

    em.level-label {
        padding: 0;
        margin: 0;
        display: block;
        width:100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $sub-backcolor;
        height: 3em;
        line-height: 3em;
        z-index: 2;        
        text-align: center;
        font-style: normal;
        text-transform: uppercase;

        &.parangon {
            text-shadow: 0px 1px 10px white;
        }
    }

    img {         
        z-index: 100;
        display: block;


        &.action-icon {
            cursor: pointer;
            position: absolute;
            padding: 2px;
            width: 3em;
            height: 3em;

            // background: #ffffff;
            // border: solid 3px $border-color;
                        
            transition: all .1s ease-out !important;

            &:hover{
                box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

            &.plus {
                bottom:0;
                right: 0;
            }

            &.minus {
                bottom: 0;
                left:0;
            }
        }
    }  
}