<template name="skill">
    {{#if skillReady}}
    <article id="{{ skill.id }}" class="{{ skill.name }} option-button col s12  waves-effect waves-light">
        <input type="radio" name="{{ skill.name }}" value="{{ skill.value }}" {{ isChecked value gameValue }} />

        <div class="pink darken-4 border-color"></div>
        <div class="bag-o-text">
            <p class="title"> {{ skill.label }}</p>
            <p class="help flow-text"> {{skill.help }}</p>
        </div>

        <img src=" {{skill.image }} " />
    </article>
    {{/if}}
</template>